<div class="home">
    <!-- 组件交互 #wyCarousel -->
    <app-wy-carousel #wyCarousel 
        [activeIndex]="caIndex" 
        (changeSlide)="onChangeSlide($event)"
    >
        <nz-carousel 
            nzAutoPlay="true" 
            nzEffect="false" 
            [nzDotRender]="wyCarousel.dotRef"
            (nzBeforeChange)="OnbeforeChange($event)"
        >
            <div class="carousel-item" nz-carousel-content *ngFor="let item of bannerList">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img [src]="item.imageUrl" alt="">
                </a>
            </div>
        </nz-carousel>
    </app-wy-carousel>
    <!-- 推荐歌单 -->
    <div class="main">
        <div class="wrap">
            <div class="left">
                <div class="sec">
                    <div class="up">
                        <div class="navs">
                            <h2>
                                <i></i>
                                <a href="">热门推荐</a>
                            </h2>
                            <nav>
                                <a href="" *ngFor="let item of hotTags">{{item.name}}</a>
                            </nav>
                        </div>
                        <a >更多 <i nz-icon type="arrow-right" theme="outline"></i> </a>
                    </div>
                    <div class="down">
                        <div class="down-wrap">
                            <app-single-sheet 
                                class="sheet-item" 
                                *ngFor="let item of personSheet"
                                [sheet]="item"
                                (onPlay)="onPlaySong($event)"
                            ></app-single-sheet>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <app-member-card></app-member-card>
                <div class="settled-singer">
                    <div class="tit"><b>入驻歌手</b></div>
                    <div class="list">
                        <div class="card" *ngFor="let item of singerList">
                            <div class="pic">
                                <img [src]="item.picUrl" alt="">
                            </div>
                            <div class="txt">
                                <b class="ellipsis">{{item.name}}</b>
                                <span>专辑数：{{item.albumSize}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



